/* Scss Document */

.clearfix {
	line-height:0;
	font-size:0;
	clear:both;
	height:0;
}

.img-responsive {
	max-width:100%;
	height:auto;
}

.container {
	max-width:$container-width;
	margin:0 auto;
	width:100%;
}

