/* Scss Document */

@mixin list-style-none {
	list-style-type:none;
	padding:0;
	margin:0;
}

@mixin full-background-image($image-url) {
	background-image:url($image-url);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center bottom;
}

@mixin icon-scroll($image-url) {
	background-image:url($image-url);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:#fff;
	display:block;
	margin:0 auto;
	width:50px;
	height:50px;
	border-radius:50%;
}

@mixin positioning($position) {
	position:$position;
	right:0;
	left:0;
	top:0;
}

