/* Scss Document */

$bgwhite: #ffffff;
$text-white: #fff;
$font-family-light:'rubiklight';
$font-family-reg:'rubikregular';
$font-size: 18px;
$font-size-menu: 14px;
$font-color: #1f5ea2;
$heading-family:'good_timesregular';
$heading-font-size: 25px;
$heading-color: #92278f;
$font-weight-nor:normal;
$line-height: 30px;
$container-width:1170px;
$margin: 30px;
$padding: $margin;

