/* CSS Document */

@font-face {
    font-family: 'good_timesregular';
    src: url('../fonts/good_times_rg-webfont.eot');
    src: url('../fonts/good_times_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/good_times_rg-webfont.woff2') format('woff2'),
         url('../fonts/good_times_rg-webfont.woff') format('woff'),
         url('../fonts/good_times_rg-webfont.svg#good_timesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubiklight';
    src: url('../fonts/rubik-light-webfont.eot');
    src: url('../fonts/rubik-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-light-webfont.woff2') format('woff2'),
         url('../fonts/rubik-light-webfont.woff') format('woff'),
         url('../fonts/rubik-light-webfont.svg#rubiklight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikmedium';
    src: url('../fonts/rubik-medium-webfont.eot');
    src: url('../fonts/rubik-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-medium-webfont.woff2') format('woff2'),
         url('../fonts/rubik-medium-webfont.woff') format('woff'),
         url('../fonts/rubik-medium-webfont.svg#rubikmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body {
	height:100%;
}

* {
	outline:none;
    padding: 0;
    margin: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}


body {
	background: url(../images/bg-body.jpg) no-repeat center center fixed #6f91c8; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#000;
    font-family: 'rubiklight';
	padding:20px 20px 0 20px;
	font-size:18px;
	text-align:center;
}

h1 {
	font-size:70px;
	font-weight:normal;
	margin:20px 0 40px 0;
    font-family: 'good_timesregular';
	color:#009344;
	text-align:center;
}

h4 {
    font-family: 'rubiklight';
	font-weight:normal;
	margin:20px 0 10px 0;
	font-size:3.2vw;
	color:#ffffff;
}

a {
	color:#000;
	text-decoration:underline;
}

a:hover {
	text-decoration:none;
}

body.paddingNone {
	padding:0;
}

#TopTwenty {
	color:#fff;
	text-align:left;
}

#TopTwenty ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

#TopTwenty ul li {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0.5+100,0.24+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.24) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.24) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.24) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#3d000000',GradientType=0 ); /* IE6-9 */
	
	position:relative;
	color:#fff;
	font-size:3vw;
	font-weight:bold;
	padding:20px 25px 70px 20px;
	margin-bottom:50px;
}

#TopTwenty ul li:last-child {
	margin-bottom:0;
}

#TopTwenty ul li .FullBox {
	width:100%;
	clear:both;
	
}

#TopTwenty ul li .OrderNum {
	background:url(../images/bg-number.png) no-repeat left top;
	background-size:100% 100%;
	position:absolute;
	left:0px;
	top:0;
	width:78px;
	height:93px;
	display:block;
    text-align: center;
    font-size: 34px;
    color: #1f5ea2;
    line-height: 113px;
    font-weight: normal;
    font-family: 'rubikmedium';
    text-indent: 5px;
}

#TopTwenty ul li .BtnPlay {
	background:url(../images/btn-play.png) no-repeat left top;
	background-size:100% 100%;
	border-radius:50%;
	width:108px;
	height:109px;
	float:left;
	display:block;
	margin-right:20px;
	margin-top:80px;
}

#TopTwenty ul li .LeftArea {
	float:left;
	width:350px;
	margin-top:80px;
}

#TopTwenty ul li .LeftArea span {
	display:block;
}

#TopTwenty ul li .RightArea {
	float:right;
	width:229px;
	height:221px;
	position:relative;
}

#TopTwenty ul li .RightArea img {
	max-width:100%;
	height:100%;
}

#TopTwenty ul li .BottomFull {
	font-size:0;
	position:absolute;
	bottom:0;
	left:0;
	right:0;	
}

#TopTwenty ul li .BottomFull .CountBox {
	width:33.33%;
	font-size:14px;
	font-weight:normal;
	line-height:50px;
	padding:0 20px;
	text-transform:uppercase;
	
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	float:left;
}

#TopTwenty ul li .BottomFull .CountBox span {
	margin: 0 0 0 auto;
    font-family: 'good_timesregular';
	font-size:3vw;
}

#TopTwenty ul li .BottomFull .CountBox:nth-of-type(1) {
	background-color:#92278f;
}

#TopTwenty ul li .BottomFull .CountBox:nth-of-type(2) {
	background-color:#000000;
}

#TopTwenty ul li .BottomFull .CountBox:nth-of-type(3) {
	background-color:#1f5ea2;
}

.clear {
	font-size:0;
	line-height:0;
	clear:both;
	height:0;
}

@media only screen and (max-width:767px) {
	h1 {
		font-size:40px;
		margin:20px 0;
	}
	
	#TopTwenty ul li .LeftArea {
		width:270px;
	}
	
	#TopTwenty ul li .RightArea {
		width: 179px;
		height: 173px;
	}
	
	#TopTwenty ul li .BottomFull .CountBox {
		font-size:12px;
	}
	
	#TopTwenty ul li .OrderNum {
		height:73px;
		line-height:93px;
		font-size:30px;
	}
	
	#TopTwenty ul li .LeftArea {
		margin-top:50px;
	}
	
	#TopTwenty ul li {
		margin-bottom:30px;
	}
	
	#TopTwenty ul li .BtnPlay {
		width:88px;
		height:89px;
		margin-top:60px;
	}
}

@media only screen and (max-width:639px) {
	#TopTwenty ul li {
		margin-bottom:25px;
		padding-left:10px;
	}
	
	#TopTwenty ul li .BtnPlay {
		margin-right:10px;
		width:68px;
		height:69px;
	}
	
	#TopTwenty ul li .OrderNum {
	    font-size:26px;
		width:68px;
		height:63px;
		line-height:73px;
	}
	
	#TopTwenty ul li .LeftArea {
		width: 200px;
	}
	
	#TopTwenty ul li .RightArea {
		width: 160px;
		height: 154px;
	}
	
	#TopTwenty ul li .BottomFull .CountBox {
		padding:0 10px;
		font-size:10px;
	}
		
	#TopTwenty ul li .RightArea .BtnPlay {
	    width: 33px;
    	height: 42px;
	}
}

@media only screen and (max-width:479px) {
	h1 {
		font-size:20px;
	}
	
	#TopTwenty ul li {
		padding-right:10px;
		padding-bottom:50px;
	}
	
	#TopTwenty ul li .OrderNum {
		font-size: 18px;
		line-height:53px;
		width: 48px;
		height: 43px;
	}
	
	#TopTwenty ul li .BtnPlay {
		margin-right: 0px;
		width: 48px;
		height: 49px;
	}
		
	#TopTwenty ul li .LeftArea {
		padding-left:10px;
		width:140px;
	}
	
	#TopTwenty ul li .RightArea {
		width: 110px;
	    height: 105px;
	}
	
	#TopTwenty ul li .BottomFull .CountBox {
		line-height:30px;
		font-size:8px;
		text-transform:capitalize;
		padding:0 5px;
	}
	
	#TopTwenty ul li .BtnPlay {
		margin-top:35px;
	}
	
	#TopTwenty ul li .LeftArea {
		margin-top:25px;
	}
	
	#TopTwenty ul li .BottomFull .CountBox span {
		font-size: 2.5vw;
	}
	
	h4 {
		margin-bottom:10px;
	}
}